@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .nav__link{
    @apply relative text-base font-medium w-fit block after:block after:content-[''] after:absolute after:h-[3px]
    after:bg-secondary text-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition
    after:duration-300 after:origin-right
  }
  .text-bg{
    background-image: linear-gradient(to right, #11998e, #38ef7d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
  }
}
.custom-scrollbar::-webkit-scrollbar{
  width:10px;
  height: 2px;
  padding: 15px;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
  background: linear-gradient(45deg, #11998e, #38ef7d);
  border-radius: 10px 0 10px 0;
  /* width: 5px; */
  /* height: 5px; */
}
.custom-scrollbar::-webkit-scrollbar-track{
  background:#232931;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
